{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Interface</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    
    <div class="container">
        <div class="nav">
            <div class="chat-header">
                <img src="{% static '/img/mindful-high-resolution-logo-transparent.png' %}" alt="" srcset="">
            </div>
        </div>
        <div class="chat-container">
            <div class="chat-body">
                {% if question %}
                <div class="message right">
                    <div class="message-text">{{ question }}</div>
                </div>
                {% endif %}
                {% if answer %}
                    <div class="message left">
                        <div class="message-text">{{ answer }}</div>
                    </div>
                {% endif %}
            </div>
            <div class="chat-footer">
                <form method="POST" action="{% url 'homeView' %}">
                    {% csrf_token %}
                    <input type="text" name="user_input" placeholder="Ask anything to Mindful." class="message-input">
                    <button type="submit" class="send-button">➤</button>
                </form>
            </div>
        </div>
        <div class="notes-container">
            <h2>Hello, I am Mindful. I am your specialized AI Assistant. You can ask me anything and you can drag and drop your pdfs files here.</h2>
            <div class="notes-img">

            
                <img src="{% static '/img/upload.png' %}" alt="" srcset="">
            </div>
        </div>
    </div>
</body>
</html>
