{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Interface</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    
    <div class="container">
        <div class="nav">
            <div class="chat-header">
                <img src="{% static '/img/mindful-high-resolution-logo-transparent.png' %}" alt="" srcset="">
            </div>
        </div>
        <div class="chat-container">
            <div class="chat-body" id="chat--body">
                {% if question %}
                    <div class="message right #user-message">
                        <div class="message-text">{{ question }}</div>
                    </div>
                {% endif %}
                {% if answer %}
                    <div class="message left">
                        <div class="message-text">{{ answer }}</div>
                    </div>
                {% endif %}
            </div>
            <div class="chat-footer">
                <form method="POST" action="{% url 'homeView' %}">
                    {% csrf_token %}
                    <input id="userInput"type="text" name="user_input" placeholder="Ask anything to Mindful." class="message-input">
                    <button onclick="displayInput()" type="submit" class="send-button">➤</button>
                </form>
            </div>
        </div>
        <div class="notes-container">
            <div id="pdf-notes">
                <h3 id="title">{{title}}</h3>
                <p>{{notes}}</p>
            </div>
            <div id="form">
                <form id="uploadForm" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div id="dropArea" class="notes-img">
                        <img src="{% static 'img/upload.png' %}" alt="Upload Icon">
                        <input type="file" id="fileInput" name="file" accept="application/pdf">
                    </div>
                    <button onclick="hide()"type="submit">Upload</button>
                </form>
            </div>
            <div class="notes"></div>
        </div>
    </div>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>
